#menu_text {
	background-color: #22b35c;
	padding: 80px;
	text-align: center;
	margin: 0;
}

nav {
	background-color: #333;
	text-align: center;
	overflow: hidden;

}

nav a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	display: block;
}

.menu_left {
	float: left;
}

.menu_right {
	float: right;
}


nav a:hover {
	background-color: #DDD;
	color: black;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}

#left_side {
	flex: 30%;
	padding: 10px 20px;
	background-color: #ddd;
}

#left_side img {
	width: 200px;
	height: 200px;
}

#right_side {
	flex: 70%;
	padding: 10px 20px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 20px;
}

footer > a {
	color: white;
}

table {
	border-style: solid;
}

/* Styling the table */
table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#course_container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.course_item {
	width: 33%;
}

.course_img {
	width: 90%;
}

.course_title {
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.course_desc {
	margin: 0 10px 20px 10px;
}






@media(max-width: 800px) {
	#right_side {
		flex: 100%;
	}

	#left_side {
		flex: 100%;
	}

	#flex_container {
		flex-wrap: wrap;
	}

	.course_item {
	width: 50%;
}

}



